# Add your Google Gemini API key here
GEMINI_API_KEY=[YOUR_GEMINI_KEY]

# Internal WhatsApp ID of the source channel you want to read from
# e.g., "1203631234567890@newsletter"
SOURCE_CHANNEL_ID=12345405995504424@g.us

# Internal WhatsApp ID of your own channel where you want to forward messages
DESTINATION_CHANNEL_ID=123456782250566563@g.us

# Describe what jobs you want to filter (e.g., "Remote React Developer roles")
JOB_CRITERIA="Full Stack or Backend or frontend engineer roles, using one or more of the technologies: Node.JS, React, Java. Any other type of jobs or technologies should be filtered out."


# Choose your filtering mode: 'ai' or 'keywords'
FILTER_MODE=keywords

# --- For Keyword Mode Only ---
# Comma-separated list of technologies that MUST appear (at least one match required)
WHITELIST_TECHNOLOGIES="react,node,typescript,java"

# Comma-separated list of roles that MUST appear (at least one match required)
WHITELIST_ROLES="developer,engineer,מפתח,מתכנת,backend,frontend,full-stack,fullstack"

# Comma-separated list of words that MUST NOT be in the job description (e.g., "senior, hybrid, office")
BLACKLIST_KEYWORDS="architect,team lead,team leader,tech lead,tech leader,group leader,director,vp,head of,senior staff,engineering manager,rnd manager,development manager,tech manager"

# --- For Experience Filter ---
# Max years of experience allowed (e.g., "5").
# (If set, any job post requiring MORE than this number of years will be automatically filtered out)
MAX_YEARS_EXPERIENCE=10
